<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostAddress" value="portalqa.criticalmanufacturing.dev:443"/>
    <add key="ClientTenantName" value="CustomerPortalQA"/>
    <add key="IsUsingLoadBalancer" value="false"/>
    <add key="ClientId" value="Applications"/>
    <add key="UseSsl" value="true"/>
    <!--<add key="SecurityAccessToken" value=""/>-->
    <add key="SecurityPortalBaseAddress" value="https://securityqa.criticalmanufacturing.dev:443/"/>
  </appSettings>
</configuration>